<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New tournament</title>
    <style>
        hr {
            border: 2px solid cadetblue;
            width: 20em;
        }
    </style>
</head>
<body>
<h1 style="color: cadetblue"><strong>New tournament</strong></h1>
<hr style="width: 97vw;">
<form name="createNewForm" action="https://web2-project1-086h.onrender.com/api/createTournament" onsubmit="return validateForm()" method="post">
    <label for="name">Tournament name:</label>
    <input type="text" id="name" name="name" required><br><br>

    <label for="sport">Sport:</label>
    <select id="sport" name="sport">
        <!--Dynamically added-->
    </select>

    <br>
    <br>

    <label for="teams">Teams(4-8):</label><br>
    <textarea id="teams" name="teams" rows="8" cols="50" required placeholder="Teams separated by a comma or a new line"></textarea><br><br>

    <input type="submit" value="Submit">
    <button style="margin-left: 2em" onclick="clearData()">Clear</button>
</form>
<br>
<h3>Test primjeri</h3>
<h4>Arsenal,Chelsea,Tottenham,Crystal Palace,Newcastle,Manchester City,Manchester United,Liverpool</h4>
</body>
<script>
    function validateForm() {
        let teamsTxt = document.forms["createNewForm"]["teams"].value;
        let teamsArray = teamsTxt.replace(/\r?\n/g, ",").split(",");
        let newTeamsArray = [];
        teamsArray.forEach((element) => {
            if(!(element.trim() == '' || element.trim() == undefined || element.trim() == null)){
                newTeamsArray.push(element.trim());
            }
        });
        console.log(newTeamsArray);
        if (newTeamsArray.length >= 4 && newTeamsArray.length <= 8) {
            let textArea = document.getElementById('teams');
            textArea.value = newTeamsArray.join(',');
            return true;
        } else {
            alert("4-8 teams required! Separate them with a comma or write them in a new line.");
            return false;
        }
    }

    function clearData(){
        let nameTextArea = document.getElementById('name');
        nameTextArea.value = '';
        let teamTextArea = document.getElementById('teams');
        teamTextArea.value = '';
    }
    fetch('https://web2-project1-086h.onrender.com/api/allscoringsystems').then(response => response.json()).then(data => {
        console.log(data);
        let selectElement = document.getElementById('sport');
        for(let i = 0; i < data.length; i++) {
            let selectOption = document.createElement('option');
            selectOption.value = data[i]['id'];
            selectOption.textContent = data[i]['id'] + " (" + data[i]['winpts'] + "/" + data[i]['drawpts'] + "/" + data[i]['losepts'] + ")";
            selectElement.appendChild(selectOption);
        }
    }).catch(error => {
        console.log(error.toString());
    })
</script>
</html>