<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="./styles/profile.css">
  <title>My tournaments</title>
</head>
<body>
  <h1 style="color: cadetblue"><strong>My tournaments</strong></h1>
  <hr style="width: 97vw;">
  <h3 id="userInfo"></h3>
  <p><a href="/">Back to homepage!</a></p>
  <div sec:authorize="isAuthenticated()">
    <p><a th:href="@{/logout}">Log Out</a></p>
  </div>
  <hr style="width: 33vw;">
  <br>
</body>
<script th:inline="javascript">
  let username = /*[[${profile.get('name')}]]*/ 'default';
  let userInfoH3 = document.getElementById('userInfo');
  userInfoH3.textContent = "User: " + username;
  fetch('https://web2-project1-086h.onrender.com/api/gettournaments').then(data => data.json())
            .then(data => {
              let appendDiv = document.createElement('div');
              console.log(data);
              let heading2 = document.createElement('h2');
              heading2.textContent = "My tournaments: ";
              appendDiv.appendChild(heading2);
              if(data.length == 0) {
                let noTournamentsH3 = document.createElement('h3');
                noTournamentsH3.textContent = "You didn't create any tournaments!"
                appendDiv.appendChild(noTournamentsH3);
              }
              for(let i = 0; i < data.length; i++) {
                let tournamentDiv = document.createElement('div');
                tournamentDiv.className = "tournamentDiv";
                let tournamentName = document.createElement('h3');
                tournamentName.textContent = data[i][2];
                let sportName = document.createElement('h3');
                sportName.textContent = data[i][3];
                let accessLinkH3 = document.createElement('h3');
                let accessLinkA = document.createElement('a');
                accessLinkA.textContent = 'https://web2-project1-086h.onrender.com/tournament?hash=' + data[i][4];
                accessLinkA.href = '/tournament?hash=' + data[i][4];
                tournamentDiv.addEventListener("click", function() {
                  window.location.href = 'https://web2-project1-086h.onrender.com/tournament?hash=' + data[i][4];
                });
                accessLinkH3.appendChild(accessLinkA);
                tournamentDiv.appendChild(tournamentName);
                tournamentDiv.appendChild(sportName);
                tournamentDiv.appendChild(accessLinkH3);
                appendDiv.appendChild(tournamentDiv);
              }
              let createNewButton = document.createElement('button');
              createNewButton.textContent = "Create new tournament";
              createNewButton.style.marginTop = "1em";
              let createNewA = document.createElement('a');
              createNewA.href = '/createTournament'
              createNewA.appendChild(createNewButton);
              appendDiv.appendChild(createNewA);
              appendDiv.appendChild(document.createElement('br'));
              document.body.appendChild(appendDiv);
            })
          .catch((error) => {
    console.log(error.toString());
  });
</script>
</html>