<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="./styles/tournament.css">
    <script src="fetchFunctions.js"></script>
    <script src="createTable.js"></script>
    <script src="createEditForm.js"></script>
    <title>Tournament page</title>
</head>
<body>
    <h1 style="color: cadetblue"><strong>Tournament page</strong></h1>
    <hr style="width: 97vw;">
    <div class="wrapperDiv">
        <h1 th:text="${name}"></h1>
        <h2 th:text="${sport}" style="margin-bottom: 0"></h2>
    </div>
    <hr>
</body>
<script th:inline="javascript">
    const tournamentClass = /*[[${tournamentClass}]]*/ 'default';
    const tournamentId = tournamentClass["id"];
    const sportName = tournamentClass["sportname"]["id"];

    const authenticated = /*[[${authenticated}]]*/

    gameData = fetchAndDisplayGameData(tournamentId, authenticated).then((gameData) => {
        console.log('Game data fetching and processing completed.');
        console.log(gameData)
        fetch(`https://web2-project1-086h.onrender.com/api/scoringsystem?sport=${sportName}`).then(response => response.json())
            .then(response => createTable(gameData, [response['winpts'], response['drawpts'], response['losepts']]))
        .catch((error) => {
            console.error(error);
        });
    }).catch((error) => {
        console.error(error);
    });

</script>
</html>